* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  width: 960px;
  height: 960px;
  display: flex;
  flex-wrap: wrap;
}

.gridElement {
  border: solid black 1px;
}

.filled {
  background-color: pink;
}
